<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<%layout("/layouts/boilerplate")%>
<body>
    <!-- <h1>All listings</h1> -->
    <ul>
        <% allListings.forEach(listing => { %>
            <li><%= listing.title %></li>
        <% }) %>
        </ul> 
        
         <!-- <%-include("../includes/footer.ejs")%> -->

    </body>
</html>